<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flask-service</title>
  <style type="text/css">
   body{
     background: #e9eadf; 
   }
   #layer1 {
    padding: 5px;
   }
   #layer2 {
  	background: #fff; 
  	width: 50%; 
  	padding: 10px;
   }
  </style>
 </head>
 <body>

  <div align="center" id="layer1">
    <h2>This is flask service that receive JSON object<br> and return a string decorated with emoji</h2>
  <div align="left" id="layer2">
    <h3>Examples</h3>
    <p>$ curl -XPOST -d'{"word":"evilmartian", "count": 3}' http://myvm.localhost/<br>
       💀evilmartian💀evilmartian💀evilmartian💀</p>
  </div>
  </div>

 </body>
</html>
